doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='Guilherme Miranda')

        title Guilherme Miranda

        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v6.3.0/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none Guilherme Miranda
                span.d-none.d-lg-block
                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/profile.jpg', alt='...')
            button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarResponsive.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#about') Sobre
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#experience') Experiência
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#education') Formação Acadêmica
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#projects') Projetos
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#skills') Competências
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#certifications') Certificados
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#languages') Idiomas

        // Page Content
        .container-fluid.p-0

            // About
            section#about.resume-section
                .resume-section-content
                    h1.mb-0
                        | Guilherme 
                        span.text-primary Miranda
                    .subheading.mb-2
                        | São Paulo, SP, Brasil · (11) 96447-8246 ·
                        a(href='mailto:guilhermealvesmiranda99@gmail.com') guilhermealvesmiranda99@gmail.com
                    .subheading.mb-5
                        | Engenheiro de Software | Arquiteto e Desenvolvedor Salesforce
                    p.lead.mb-4
                        | Sou um <b>Engenheiro de Software</b> com experiência sólida na construção de soluções de sistemas como Apis, Workers, Scripts, e manutenção de sistemas legados.
                    p.lead.mb-5
                        | Também atuo como <b>Consultor Salesforce</b>, desde 2017, arquitetando soluções e integrando com demais sistemas como CRMs, ERPs e etc.
                    .social-icons
                        a.social-icon(href='https://www.linkedin.com/in/guilherme-m-786581101/')
                            i.fab.fa-linkedin-in
                        a.social-icon(href='https://github.com/gmirandadev')
                            i.fab.fa-github

            hr.m-0

            // Experience
            section#experience.resume-section
               .resume-section-content
                    h2.mb-5 Experiência

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Engenheiro de Software
                            .subheading.mb-3 Grupo SBF
                            p
                                | Atuação no time de Sales, focado na experiência do usuário do momento que ele entra no site até tomar a decisão de compra.
                                | Responsável por definir e arquitetar soluções, assim como construir Apis, Workers e sistemas para sustentar front-end, utilizando as linguagens: Typescript, NodeJS, Javascript, Python e Go
                        .flex-shrink-0
                            span.text-primary Julho 2022 - Até o momento

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Engenheiro de Software / Salesforce
                            .subheading.mb-3 Grupo Zap / Olx Brasil
                            p
                                |  Engenheiro de Software focado em soluções em Salesforce, principalmente nas nuvens de Sales Cloud e Service Cloud. Responsável por arquitetar soluções salesforce e também sistemas satélites, integrando-os por meio de mensageria como Kafka e Rest 
                        .flex-shrink-0
                            span.text-primary Abril 2020 - Junho 2022

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Engenheiro Salesforce
                            .subheading.mb-3 Globant
                            p
                                | Responsável por ajudar os clientes com soluções focadas em seu negócio, assim como integrar o Salesforce com sistenmas já existentes do cliente. 
                                | A maior parte do tempo prestei serviços de consultoria para a rede de Shopping Iguatemi. 
                        .flex-shrink-0
                            span.text-primary Fevereiro 2018 - Abril 2020

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Engenheiro Salesforce
                            .subheading.mb-3 Cloud2b
                            p
                                | Responsável por criar soluções salesforce personalizadas para os clientes. Além disso atuei com Marketing Cloud, Sales Cloud e Service Cloud.
                                | Responsável por liderar soluções de ponta a ponta como back-end e front-end.
                        .flex-shrink-0
                            span.text-primary Outubro 2017 - Fevereiro 2028

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 Desenvolvedor Web / WordPress
                            .subheading.mb-3 Studio Visual
                            p
                                | Responsável por projetar interfaces dos websites, desenvolver temas e plugins WordPress, construir landing pages, hotsites e páginas web.
                        .flex-shrink-0
                            span.text-primary Fevereiro 2017 - Outubro 2017

            hr.m-0

            // Education
            section#education.resume-section
                .resume-section-content
                    h2.mb-5 Formação Acadêmica

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 UAM - Universidade Anhembi Morumbi
                            .subheading.mb-3 Bacharelado em Sistemas de Informação
                        .flex-shrink-0
                            span.text-primary 2018 - 2022

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 ETESP - Escola Técnica do Estado de São Paulo
                            .subheading.mb-3 Técnico em Informática
                        .flex-shrink-0
                            span.text-primary 2016 - 2017
                    
                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 SENAI
                            .subheading.mb-3 Técnico em Eletroeletrônica
                        .flex-shrink-0
                            span.text-primary 2015 - 2016 (Incompleto)

            hr.m-0

            // Projetos
            section#projects.resume-section
               .resume-section-content
                    h2.mb-5 Projetos

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 <a href="https://www.jabrasil.org.br/">Junior Achievement Brasil | Salesforce</a>
                            .subheading.mb-3 Arquiteto de Solução | Administrador
                            p
                                | Arquitetura de soluções salesforce para o fluxo de candidatos destinados aos cursos ofereciados pela ONG, assim como sustentação criando painéis, relatórios, fluxos de automatização, manutenção de perfis e papéis e etc.
                        .flex-shrink-0
                            span.text-primary Janeiro 2022 - Até o momento

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 <a href="https://jarj.org.br/">Junior Achievement Rio de Janeiro | Salesforce</a>
                            .subheading.mb-3 Arquiteto de Solução | Administrador
                            p
                               | Arquitetura de soluções salesforce para o fluxo de candidatos destinados aos cursos ofereciados pela ONG, mas especificamente do Rio de Janeiro, assim como sustentação criando painéis, relatórios, fluxos de automatização, manutenção de perfis e papéis e etc.
                        .flex-shrink-0
                            span.text-primary Abril 2022 - Até o momento

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 <a href="https://rvmicologia.com.br/">RV Micologia Médica</a>
                            .subheading.mb-3 Desenvolvedor Web
                            p
                                | Responsável pelo desenvolvimento Web/WordPress da aplicação, assim como a criação do tema e plugins WordPress. 
                        .flex-shrink-0
                            span.text-primary Fevereiro 2018 - Janeiro 2020

            hr.m-0

            // Skills
            section#skills.resume-section
                .resume-section-content
                    h2.mb-5 Competências

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Salesforce
                            ul.fa-ul.mb-0
                                li
                                    span.fa-li
                                        i.fas.fa-cloud.text-info
                                    | <b>Nuvens</b>: Sales Cloud, Service Cloud, Community Cloud
                                li
                                    span.fa-li
                                        i.fas.fa-computer.text-info
                                    | <b>Apex</b>: Triggers, Batches, Schedulers, LWC, Aura, Visualforce Pages

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Programação
                            ul.fa-ul.mb-0
                                li
                                    span.fa-li
                                        i.fas.fa-computer.text-info
                                    | <b>Linguagens</b>: Javascript, NodeJS, Typescript, Java, .NET, Ṕython
                                li
                                    span.fa-li
                                        i.fas.fa-tower-broadcast.text-info
                                    | <b>Mensageria</b>: Kafka, SQS, RabbitMQ
                                li
                                    span.fa-li
                                        i.fas.fa-book.text-info
                                    | <b>Outros</b>: Docker, Kubernetes, CI/CD, GitHub

            // certifications
            section#certifications.resume-section
                .resume-section-content
                    h2.mb-5 Certificados
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | Salesforce Platform App Builder
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | Salesforce Platform Developer I
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | Salesforce Administrator
            
            // Languages
            section#languages.resume-section
                .resume-section-content
                    h2.mb-5 Idiomas

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Português
                            .subheading.mb-3 Nativo
                    
                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Inglês
                            .subheading.mb-3 Intermediário
                    
                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Espanhol
                            .subheading.mb-3 Básico à Intermediário


        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')